.app__content {
  height: 100vh;
  width: 100%;
  overflow-y: auto;
  box-sizing: border-box;
  transition: position 1s ease;
  position: fixed;
  margin-left: 0;
}

.app__content--open {
  position: relative;
}
